body {
    font-family: Arial, sans-serif;  
    text-align: center;              
    padding: 20px;                  
}

h1 {
    font-family: Arial, sans-serif; 
    font-size: 24px;                
    margin-bottom: 20px;          
}

.container {
    margin: 20px auto;              
    width: 75px;                  
    height: 75px;                
}

.wheel {
    width: 200px;
    height: 200px;
    background-image: url('assets/images/wheel-0.png');
    background-position: 0 0;
    background-size: 4800px 200px;
    will-change: background-position;
}

.orange {
    width: 200px;  /* Breite eines einzelnen Orange-Frames */
    height: 200px; /* Höhe eines einzelnen Orange-Frames */
    background-image: url('assets/images/Orange-1.jpg'); /* Startbild */
    background-size: 4800px 200px;
    display: block;
    will-change: background-image; /* Verbesserung der Performance */
}


.controls {
    margin: 20px auto;              
}

button {
    padding: 10px 15px;             
    margin: 5px;                   
    font-size: 16px;                
}
