body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0; /* Entfernt Standardabstand */
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 30px; /* Kleineren Abstand zum Text */
}

.controls-description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
    max-width: 400px;
    margin: 0 auto 20px;
}

.controls-description code {
    font-family: monospace;
    background-color: #f0f0f0;
    padding: 2px 4px;
    border-radius: 3px;
}

.animation-container {
    display: flex;
    justify-content: center; /* Horizontale Zentrierung */
    align-items: center; /* Vertikale Zentrierung im Container */
    gap: 100px; /* Abstand zwischen den Animationen */
}

#rotatingWheel, #bouncingOrange {
    width: 250px; 
    height: auto; /* Höhe automatisch anpassen */
    object-fit: contain; /* Beibehaltung der Proportionen */
    max-width: 100%; /* Maximal die Breite des Containers ausnutzen */
    max-height: 100vh; /* Maximal die Höhe des Viewports nutzen */
}
