body {
    font-family: Arial, sans-serif;  
    text-align: center;              
    padding: 20px;                  
}

h1 {
    font-family: Arial, sans-serif; 
    font-size: 24px;                
    margin-bottom: 20px;          
}

.container {
    margin: 20px auto;              
    width: 50px;                  
    height: 50px;                
}

.wheel {
    width: 200px;   /* Breite eines einzelnen Frames */
    height: 200px;  /* Höhe eines einzelnen Frames */
    background-image: url('assets/images/sprite.png');  /* Der Sprite mit allen Frames */
    background-position: 0 0;
    background-size: 4800px 200px;  /* Gesamte Breite des Sprites (24 Bilder) */
    will-change: background-position; /* Verbesserung der Performance */
}

.controls {
    margin: 20px auto;              
}

button {
    padding: 10px 15px;             
    margin: 5px;                   
    font-size: 16px;                
}

